body {
  background-color: #000000;
  border-radius: 8px;
  padding: 5px;
}
#skip-nav {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  color: #ffffff;
}
#skip-nav:hover {
  text-decoration: underline;
}
.site-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 5px;
  font-size: 20px;
  border: 2px #800000;
  border-radius: 8px;
  padding: 5px;
}
.nav-item a {
  font-weight: bold;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 50px; 
  text-align: left; 
  text-transform: uppercase;
  font-family: lucida handwriting;
  color: #800000;  
}
main {
  margin-bottom: 20px;
}
h2 {
  font-size: 35px;
  font-family: Trebuchet MS;
  color: #d7d703; 
  text-align: center;
}
h3 {
  font-size: 25px;
  font-family: Trebuchet MS;
  color: #d7d703;
}
p {
  font-family: Trebuchet MS;
  color: #ffffff;
  font-size: 20px;
}
.int-pg {
  font-family: Trebuchet MS;
  color: #ffffff;
  font-size: 20px;
}
.book-series {
  display: flex;
  justify-content: center;
  font-family: Trebuchet MS;
  font-size: 20px;
}
.home-image {
  margin-right: 10px;
  border-style: dotted;
}
.home-image:last-child {
margin-right: 0px;
}
.site-menu {
  list-style: none;
  padding: 0;
  width: 200px;
}
.center-list {
  text-align: center;
  list-style-type: none;
  font-size: 20px;
}
.middle-logo {
max-width: 960px;
margin: auto;
}
.site-menu,
.middle-logo,
.copyright {
float: left;
text-align: center;
}
.site-menu,
.copyright {
width: 20%;
}
.middle-logo {
width: 60%;
}
.interior-image {
  float: right;
  border-style: dotted;
}
footer {
  background-color: #d7d703;
  font-size: 10px;
}